.chat-container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #010131;
    margin: 15px 20px 15px 20px;
    border-radius: 20px
    
}

.chat-image{
    display: flex;
    align-items: center;
    
    background-color: lightskyblue;
    border-radius: 50px;
    padding:10px;
    


    img{
        width: 50px;
    }
    
    

    

}

.chat-title{
    flex: 1;
    margin-left: 5px;
    color: white;
}

.chat-button{
    background-color: #0060dddd;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
}